APP_NAME="eScriptorium Proxy"
APP_ENV=local
APP_KEY=base64:5tWwZV6DXoJAcXjkaUtxyXKCdR1zSyvcowzqE/pwcmg=
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=mariadb
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=proxy
DB_USERNAME=laravel
DB_PASSWORD=secret

SESSION_DRIVER=redis
CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PORT=6379

ESCRIPTORIUM_URL=http://escriptorium-web:8000
ESCRITORIUM_WEBSOCKET_BASE_URL=http://escriptorium-nginx
